
.jumbotron {
    position: relative;
    background: url("images/Backgrounds2.png");
    background-size: cover;
    background-repeat: no-repeat; 
}


      /* Large desktop */
      @media (min-width: 980px) {
          .linediv-l {
         border-right: 1px white solid;
        }
       .linediv-r {
         border-left: 1px white solid;
       }
      }

      /* Landscape phones and down */
      @media (max-width: 480px) {
       .copy {
         padding: 2.5% 10%;
       }
       .linediv-l {
         border-bottom: 1px white solid;
       }
       .linediv-r {
         border-top: 1px white solid;
       }
      }
      /* All form factors */

      /* Main body and headings */
      body{
        font-family: font-family: 'Roboto', sans-serif;
      }
      .heading, .subheading {
        font-family: font-family: 'Roboto', sans-serif;
        text-align: center;
      }
      .navbar-custom { 
          background-color: #1ABC9C;
          background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1ABC9C), color-stop(100%, #15826E));          
          background: -webkit-linear-gradient(top, #1ABC9C,#15826E);
          background: -moz-linear-gradient(top, #1ABC9C,#15826E);
          background: -o-linear-gradient(top, #1ABC9C,#15826E);
          background: -ms-linear-gradient(top,#1ABC9C,#15826E);
          background: linear-gradient(top,#1ABC9C,#15826E);
          border: none;
          
      }
      .navbar-custom .nav li a {
          color: #FFF;
          padding-top: 20px;
          padding-bottom: 20px;
          text-shadow: none;
          background: none;
          opacity: .9;
          font-weight: 400;
          
      }
      .navbar-custom .navbar-nav .nav li a:hover {
          background: #000000;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          color: #fff;
          opacity: 1;
      }
      .logo-custom {
          width: 250px;
          height: 70px;
      }

      p.lead {
        padding-top: 1.5%;
        font-size: 24px;
        line-height: 30px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
      }
     
      /* Video pitch and Action */
      .logo-nav {
          padding: 0% 0%;
      }
      
      .pitch {
          ypadding: 0% 5%;
      }
      .order {
        padding: 7% 5%;
      }
      .actions {
        background-color: #343434;
        padding: 3% 0%;
      }
      .video, .thermometer, .order, .social, .statistics {
        text-align: center;
      }
      .statistics h3, .statistics p {
        color: #339999;
        font-size: 8px;
      }
      .btn-group {
        display: inline-block;
      }
      /* Marketing Copy and Footer */
      .copy {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        text-align: justify;
      }
      .asset {
        padding: 2.5% 0%;
      }
      .footer {
        color: #cccccc;
        text-align: center;
      }
      .footer p {
        font-size: 11px;
      }
      .footer a {
        color: #ccccff;
      }