<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Healthy Bytes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
    <!-- Custom styles for this template -->
    <link href="sticky-footer-navbar.css" rel="stylesheet">
    <link rel="stylesheet" href= "static/custom.css" type ="text/css"/>
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800"
          rel="stylesheet" type="text/css">
  </head>
  <body>

    <!-- Mobile-friendly navbar adapted from example. -->
    <!-- http://twitter.github.io/bootstrap/examples/starter-template.html -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar"
                  data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="/static/images/logo.png" class="logo-nav brand">
          <a class="brand" href="#">Healthy Bytes</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">How it Works</a></li>
              <li><a href="/dietican">Become a Coach</a></li>
              <li><a href="/about">Company</a></li>
              <li><a href="/signin">Sign in</a></li>
              <li><a href="/contact">Join us!</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- We use row-fluid inside containers to achieve a resizable layout. -->
    <!-- blogs.endjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/ -->
    <!-- http://stackoverflow.com/a/12270322 -->
    <div class="jumbotron">
      <div class="container">
      <!-- Font and paired font of .heading/.subheading and body from Google Fonts -->
      <!-- www.google.com/fonts/specimen/Ubuntu -->
      <!-- www.google.com/fonts/specimen/Ubuntu#pairings -->

      <div class="span5 offset6 order">
        <div>
        <h1>Take Photos.</h1>
          <h1>Get Expert Advice.</h1>
        </div>
      <!-- Special typography from Bootstrap for lead paragraph. -->
      <!-- http://twitter.github.io/bootstrap/base-css.html#typography -->
          <div>
            <p>Research shows that meal logging is effective for weight loss
               because it builds awareness of your diet, but it's often tedious
              and difficult to maintain. Our meal logging is simple. Take photos
              of what you eat and receive expert nutrition advice from your
              health coach.</p>
          </div>
                <!-- Standard Bootstrap button. -->
            <!-- http://twitter.github.io/bootstrap/base-css.html#buttons -->
            <div class="span5">
              <button class="btn btn-success btn-large">Change your diet!</button>
              <a href="#about">Learn more</a>
            </div>
            <br/>
      </div>
      </div>
      </div>

      </div>
      <!-- Wellness providers. -->
      <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/text-align -->
      <!-- http://twitter.github.io/bootstrap/base-css.html#images -->
      <!-- http://placehold.it -->
      <div class="row pitch">
        <div class="span6 copy">
            <h1>Wellness Providers</h1>
            <p>
              Keep your clients better engaged in long-term wellness programs.
              Get valuable time back to focus on recommendations instead of data
              collection. Efficiently manage more clients through the use of our
              dashboard.
            </p>
            <div class="span6 container">
            <div class="row">
              <h4>Individual Practitioners</h4>
              <h5>10 to 30 patients| Single Account</h5>
              <button class="btn btn-success btn-small">Sign Up</button>
            </div>
            <div class="row">
              <h4>Groups</h4>
                <h5>30 to 100 patients and 5 accounts</h5>
                <button class="btn btn-success btn-small">Sign Up</button>
              </div>
            <div class="row">
                <h4>Corporate</h4>
                <h5>Unlimited patients and accounts</h5>
                <button class="btn btn-success btn-small">Sign Up</button>
              </div>
            </div>
            </div>
        <div class="span5 asset">
            <img src="/static/images/macbook.jpg">
          </div>
        </div>


      </div>
      <div id="footer">
      <div class="container">
        <p class="text-muted">Copyright 2014 Healthy Bytes</p>
      </div>
    </div>
      </div>
    </div>
  </body>
</html>
